
#spellcheck {
  border: 1px inset;
  padding: .1em;
  cursor: default;
  background: #eef;
  position: relative;
}

#spellcheck a.spellcheck-mistake {
  color: red;
}

#spellcheck a.spellcheck-correction {
  color: green;
}

#spellcheck-suggestions {
  position: absolute;
  border: 1px solid;
  overflow: hidden;
  background: #fff;
  color: #000;
}

#spellcheck-suggestions ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#spellcheck-suggestions li {
  padding: .2em;
  white-space: pre;
  cursor: default;
}

#spellcheck-suggestions li.selected {
  background: #0072b9;
  color: #fff;
}

#spellcheck-suggestions li.spellcheck-edit {
  font-style: italic;
}
